{% extends 'base.html' %}

{% block content %}

    <h1>List of all income</h1>

    <div class="content-formatting">
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col" class="alignment">Amount</th>
                    <th scope="col" class="alignment">Description</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for i in income %}
                    <tr>  
                        <td>{{ i.income_date }}</td>    
                        <td class="alignment">{{ i.income_amount }}</td>    
                        <td class="alignment">{{ i.description }}</td>    
                        <td class="alignment-center"><a href="{% url 'update_income' i.id %}">Update</a></td>    
                        <td class="alignment-center"><a href="{% url 'delete_income' i.id %}">Delete</a></td>    
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}