{% extends 'base.html' %}

{% block content %}

    <h1>Manage budget</h1>

    <div class="container">
        <div class="row">
            <div class="col-6">
                <h4>Current month</h4>
                <table class="table table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>Category</th>
                            <th>Monthly expenses</th>
                            <th>Monthly budget</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for budget in expenses %}
                        <tr>
                            <td>{{ budget.category.name }}</td>
                            <td>{{ budget.budget_date }}</td>
                            <td>{{ budget.budget_amount }}</td>
                            <td><a href="{% url 'update_budget' budget.id %}">Update</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-6">
                <h4>Manage budget</h4>

                {% for b in current_budget  %}
                <p>{{ b.category_name }} : {{ b.current_budget }}</p>
                {% endfor %}
                
            </div>
        </div>
    </div>

{% endblock %}