{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exp&</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>

<body class="d-flex flex-column vh-100 m">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light nav-color">
            <div class="container-fluid">
                <!-- Logo side of the navbar -->
                <a class="navbar-brand mx-2" href="#">Exp&</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavLightDropdown" aria-controls="navbarNavLighDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Navbar links -->
                <div class="collapse navbar-collapse" id="navbarNavLightDropdown">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 mx-2">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        <!-- Dropdown navbar links -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Expenses
                            </a>
                            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                                <li><a class="dropdown-item" href="{% url 'expense_new' %}">New expense</a></li>
                                <div class="dropdown-divider"></div>
                                <li><a class="dropdown-item" href="{% url 'expense_detail' %}">View all expenses</a></li>
                                <li><a class="dropdown-item" href="{% url 'category_index' %}">Manage categories</a></li>
                                <li><a class="dropdown-item" href="{% url 'summary_index' %}">Expense summary</a></li>
                                <li><a class="dropdown-item" href="{% url 'budget_index' %}">Manage budget</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Income
                            </a>
                            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                                <li><a class="dropdown-item" href="{% url 'new_income' %}">Add income</a></li>
                                <div class="dropdown-divider"></div>
                                <li><a class="dropdown-item" href="{% url 'income_index' %}">View income</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarLightDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Goals
                            </a>
                            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarLightDropdownMenuLink">
                                <li><a class="dropdown-item" href="{% url 'new_goal' %}">Add goals</a></li>
                                <div class="dropdown-divider"></div>
                                <li><a class="dropdown-item" href="{% url 'goal_index' %}">Manage goals</a></li>
                            </ul>
                        </li>
                        <!-- Login / logout links -->
                        <li class="nav-item">
                            <a class="nav-link" href="#">Log in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Log out</a>
                        </li>
                  </ul>
                </div>
            </div>
        </nav>        
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <div class="container mt-auto">
    <footer class="d-flex flex-wrap justify-content-end align-items-center py-3 my-4 border-top">
        <div>All rights reserved &copy; 2024 Exp&</div>
    </footer>
</div>

</body>

</html>