/* colours: */
/* #F0FF42
#82CD47
#54B435
#379237 */

/* General page styles */
* {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    
}

body {
    min-height: 100vh;
    padding: 4vmin;
    box-sizing: border-box;
    margin: 0;
    background-color: #fffd8d;
}

/* General main section related styles */
main {
    padding: 6vmin 2vmin;
}

p { 
    font-family: Helvetica, sans-serif;
}

/* Nav bar related styles */
.nav-color {
    background-color: #03C03C;
}

.navbar-nav > li{
    padding-left: 10px;
    padding-right: 10px;
  }

/* Home page */
.home-charts-container {
    width: 100%;
    max-width: 600px;
    height: 400px;
    margin: auto
}

@media (max-width: 400px) {
    .home-charts-container {
        height: 200px;
    }
}

.home-charts {
    height: 100%;
    width: 100%
}