/* General page styles */
* {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    
}

body {
    min-height: 100vh;
    padding: 4vmin;
    box-sizing: border-box;
    margin: 0;
    background-image: url("/static/background.jpg");
    background-size: cover;
}

/* General main section related styles */
main {
    padding: 6vmin 2vmin;
}

p { 
    font-family: Helvetica, sans-serif;
}

.content-formatting {
    margin: 2rem 0.5rem 1rem 0.5rem;
}

/* Nav bar related styles */
.nav-color {
    background-color: #03C03C;
}

.navbar-nav > li{
    padding-left: 10px;
    padding-right: 10px;
  }

/* Home page */
.home-charts {
    margin: 0 0.5rem;
}

@media (max-width: 550px) {
    .home-charts {
        width: 200px;
    }
}

/* About page */
.about-container {
    display: flex;
    flex-direction: row;
}

.content-formatting > div > a {
    margin: 0 1rem;
}

/* Expense summary page */
.summary-charts, .summary-charts-daily {
    margin: 0.5rem 0.5rem 0.5rem 0;
}

@media (max-width: 550px) {
    .summary-charts {
        width: 200px;
    }
    .summary-charts-daily {
        width: 400px;
    }
}

.summary-table-title {
    margin: 3rem 0 0 0;
}

/* Manage categories page */
.category-items, .subcategory-items {
    display: flex;
    align-items: center;
}

.category-items > span {
    width: 232px;
    display: inline-block
}

.category-items > a, .subcategory-items > a {
    margin-left: 20px;
}

.subcategory-items > span {
    width: 200px;
    display: inline-block
}

/* Manage goals page */
.goal-container {
    display: flex;
    flex-direction: row;
}

.footer-font {
    font-size: 12px;
}
