{% extends 'base.html' %}

{% block content %}

    {% if chart_bar_total_expenses %}
        <img src="data:image/png;base64, {{ chart_bar_total_expenses|safe }}">
    {% endif %}
    
    {% if chart_pie_current_expenses %}
        <img src="data:image/png;base64, {{ chart_pie_current_expenses|safe }}">
    {% endif %}

    {% if chart_plot_comparison %}
        <img src="data:image/png;base64, {{ chart_plot_comparison|safe }}">
    {% endif %} 

    {% if chart_bar_average_expenses %}
        <img src="data:image/png;base64, {{ chart_bar_average_expenses|safe }}">
    {% endif %} 

    {% if chart_daily %}
        <img src="data:image/png;base64, {{ chart_daily|safe }}">
    {% endif %}

    <h1>Monthly expense summary</h1>

    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th>Month</th>
                <th>Category</th>
                <th>Total expense</th>
            </tr>
        </thead>
        <tbody> 
            {% for expense in total_expenses %}  
            <tr>
                <td>{{ expense.month|date:"F Y" }}</td>
                <td>{{ expense.category_name }}</td>
                <td>{{ expense.total_expenses }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}