{% extends 'base.html' %}

{% block content %}

    <h1>Your expense summary</h1>

    <div class="content-formatting">
        {% if chart_bar_total_expenses %}
            <img class="summary-charts" src="data:image/png;base64, {{ chart_bar_total_expenses|safe }}">
        {% endif %}
        
        {% if chart_pie_current_expenses %}
            <img class="summary-charts" src="data:image/png;base64, {{ chart_pie_current_expenses|safe }}">
        {% endif %}

        {% if chart_plot_comparison %}
            <img class="summary-charts" src="data:image/png;base64, {{ chart_plot_comparison|safe }}">
        {% endif %} 

        {% if chart_bar_average_expenses %}
            <img class="summary-charts" src="data:image/png;base64, {{ chart_bar_average_expenses|safe }}">
        {% endif %} 

        {% if chart_daily %}
            <img class="summary-charts-daily" src="data:image/png;base64, {{ chart_daily|safe }}">
        {% endif %}
    </div>

    <h1 class="summary-table-title">Monthly expense summary 
        {% if currency %}
            (in
            {% for c in currency %}
                {{ c }}
            {% endfor %}
            )
        {% endif %}
    </h1>

    <div class="col-lg-6 content-formatting">
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Month</th>
                    <th>Category</th>
                    <th class="alignment">Total expense</th>
                </tr>
            </thead>
            <tbody> 
                {% for expense in total_expenses %}  
                <tr>
                    <td>{{ expense.month|date:"F Y" }}</td>
                    <td>{{ expense.category_name }}</td>
                    <td class="alignment">{{ expense.total_expenses|floatformat:2 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-lg-6"></div>

{% endblock %}